<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @blog.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @blog.comment %>
</p>

<p>
  <strong>Date:</strong>
  <%= @blog.date %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
